{{ ansible_managed | comment }}
# container-{{ heimdall_id }}.service

[Unit]
Description=Podman container-{{ heimdall_id }}
Documentation=man:podman-generate-systemd(1)

[Service]
Restart=on-failure
ExecStart=/usr/bin/podman start {{ heimdall_id }}
ExecStop=/usr/bin/podman stop -t 10 {{ heimdall_id }}
KillMode=none
Type=forking
PIDFile=/var/run/containers/storage/overlay-containers/{{ heimdall_id }}/userdata/conmon.pid

[Install]
WantedBy=multi-user.target
